@model RentCars.ModelsDto.CarDto
@{
    ViewData["Title"] = "Details";
    var imagePath = "~/Images/" + (Model.Model + ".jpg");
}

<h1>Details</h1>

<label>Id:</label>
<p>@Model.Id</p>
<label>Brand:</label>
<p>@Model.Brand</p>
<label>Model:</label>
<p>@Model.Model</p>
<label>Max Speed:</label>
<p>@Model.MaxSpeed</p>
<label>Mileage:</label>
<p>@Model.Milage</p>

<label>Vin:</label>
<p>@Model.Vin</p>
<label>Car Plate:</label>
<p>@Model.CarPlate</p>
<label>Number of Seats:</label>
<p>@Model.NumberOfSeats</p>
<label>Year:</label>
<p>@Model.Year</p>
<label>Price:</label>
<p>@Model.Price zł</p>
<label>Transmission:</label>
<p>@Model.Transmisson</p>
<label>Image:</label>
<p><img  src="@imagePath" class="jpg" height="80px" width="120px"  asp-append-version="true" /></p>


<a asp-action="GetCarsAdmin" class="btn btn-primary"> Powrót</a>